 body {
     background-color: transparent;
 }
 .navbar .navbar-inner {
     background-color: rgba(0, 0, 0, 0.3);
 }
 .brand {
     font-family: Lobster;
 }
 .mycard {
     box-shadow: 5px 5px 5px #000;
 }
 .myhorizontalRule {
     height: 1px;
     color: #000;
     background: #000;
     font-size: 0;
     border: 0;
 }
 .desc {
     font-size: 13px !important;
 }
 .navbar .nav>li>a {
     font-size: 20px;
     color: white;
     padding-right: 40px;
     padding-left: 40px;
     padding-top: 30px;
     margin-bottom: 10px;
 }
 .navbar .brand {
     font-size: 40px;
     color: white;
     padding-left: 40px;
     padding-top: 30px;
     margin-bottom: 10px;
 }
 /* .navbar .nav>li>a:hover {
     text-decoration: none;
 }*/
 
 a:hover {
     text-decoration: none;
 }
 .myinfo {
     font-family: monospace;
     font-size: 20px;
     padding-top: 10px;
     padding-left: 20px;
 }
 .skilllist {
     font-size: 15px;
     font-family: sans-serif;
     padding-left: 400px;
 }
 .mehead {
     text-align: center;
     font-size: 30px;
     color: black;
     margin-top: 20px;
 }
 .personalhead {
     padding-left: 330px;
     font-size: 30px;
     color: black;
 }
 .hrule1 {
     height: 3px;
     color: #000;
     background: #000;
     margin-bottom: 10px;
     border: 0;
     width: 60%;
     margin: auto;
 }
 .hrule2 {
     height: 2px;
     color: #000;
     background: #000;
     border: 0;
     width: 25%;
 }
 .hrule3 {
     height: 2px;
     color: #000;
     background: #000;
     margin-bottom: 10px;
     border: 0;
     width: 25%;
     margin-left: 300px;
 }
