body{
    font-family: 'Ubuntu', sans-serif;
}
.navbarmenu {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: bold;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    margin-top: 24px;

    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
.navbar{
    font-size: 1.2em;
    margin-left: 70%;
    margin-top: 4%;
}
.navbarmenu li {
    display: inline;

    margin-right: 20px;
}
a{
    text-decoration: none;
}
li a {
    text-decoration: none;
    color: #999;
}
li a:hover {
    text-decoration: underline;
    color: #999;
}
.profilePic{
    max-width: 150px;
    max-height: 150px;
    border-radius: 10px;
    margin: 0 auto;
}
.sidenav{
    width: 100%;
text-align: center;
margin-top: 10%;
margin-bottom: 5%;
}
.profileName{
    font-weight: bold;
font-family: sans-serif;
}
.profileLinks{
    height: 30px;
    width: 30px;
    padding: 0px 5px 0px 5px;
}
.youtubeButton{
    text-align: center;
    margin-top: 10px;
}
.blogListBody{
    /*margin: 10px 30px 10px 30px;*/
}
.blogHeading{
    font-weight: bold;
    text-align: center;
    color: rgba(0,0,0,0.5);
    font-size: 2em;
}
ul.posts {
    padding: 0px;
    margin: 0px;

}

ul.posts li {
    list-style: none;
}
.alltitle{


    padding-left: 10%;
    font-size: 1.5em;
}
div.alltitle a{
    text-decoration: none;
    color: #EC4E20;
}
.allexcerpt{
    padding-left: 15%;
    margin-top: 5px;
    font-size: 1.2em;
    color: rgba(33,33,33,0.8);
}
.alldate{
    padding-left: 15%;
    margin-top: 5px;
    font-size: 1em;
    color: rgba(33,33,33,0.5);
}
.divider{
    margin-top: -2px;
width: 25%;
background: rgba(33,33,33,0.5);
height: 2px;
}
footer {
    margin: 10px 50px 10px 50px;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
footer a{
    text-decoration: none;
    color: #EC4E20;
}
.footertext{
    font-size: 1.5em;
    text-align: center;
    margin-top: 10px;
    color: rgba(0,0,0,0.8);
}
.footerLinksContainer{
    text-align: center;
    margin-top: 10px;
}
.singletitle{
    font-size: 2.0em;
    color: #36d;
    letter-spacing: 0.05em;
    font-weight: bold;
}

.singlepost{
    padding-left: 5%;
    margin-top: 20px;
    letter-spacing: 1px;
    font-size: 1em;
}
div.singlepost a{
    text-decoration: none;
    color: #EC4E20;
}
