body {
    margin: 0px;
    width: 100%;
}
.navbarmenu , footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: bold;
}
.navbarmenu li, footer ul li {
    display: inline;

    margin-right: 20px;
}
li a {
    text-decoration: none;
    color: #999;
}
li a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.navbar{
    margin-left: 70%;
    margin-top: 4%;
    /*float: right;
    margin-right: 10%;
    width: 100%;*/
}
.sidenav{
    float: left;
    margin: 10px 30px 10px 30px;
}
.blogListBody{

    margin: 10px 30px 10px 30px;
}
.profilePic{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.container{
    margin: 10px 50px 10px 50px;
}
.profileName{
    font-weight: bold;
font-family: sans-serif;
margin-top: -15px;
}
.profileLinksContainer{
    text-align: center;
margin-top: -18px;
}
.profileLinks{
    height: 30px;
    width: 30px;
padding: 0px 5px 0px 5px;
}
.blogHeading{
    font-weight: bold;
    text-align: center;
    color: rgba(0,0,0,0.5);
    font-size: 2.8em;
}
.alltitle{
    color: #EC4E20;
    text-decoration: none;
    margin-left: 5%;
}
