<div class="sidenav">
    <div class="profilePicContainer">
        <img src="{{site.baseurl}}/img/stuart.jpg" alt="rishabh1403" class="profilePic"/>
    </div>
    <div class="profileName">
        <p>Rishabh Jain</p>
    </div>
    <div class="profileLinksContainer">
        <img src="{{site.baseurl}}/img/git.png" alt="rishabh1403 github" class="profileLinks" />
        <img src="{{site.baseurl}}/img/mail.png" alt="rishabh1403 mail" class="profileLinks" />
        <img src="{{site.baseurl}}/img/link.png" alt="rishabh1403 mail" class="profileLinks" />
    </div>
</div>
